{% extends "base.html" %}
{% block content %}
<h2>About Page</h2>
<br>

<h4>Culinary uses of spices</h4>

<p>

    Spices can be aromatic or pungent in flavors and peppery or slightly bitter in taste. In order to keep their
    fragrance and flavor intact, they are generally added in the cooking recipes at the final moment of cooking since
    prolonged cooking results in evaporation of much of their essential oils.

    Spices are being used in the preparation of season soups, barbecue sauces, pickling and as a main ingredient in a
    variety of curry powders.

    Spices along with some seasonal herbs are being used to enhance the flavor and taste of vegetable, chicken, fish and
    meat dishes.

    Some healthy spices like cloves, cardamom, coriander…etc., are also been used in flavor drinks.
</p>

<div class="row featurette">
    <div class="col-md-7">
        <h3>Tumeric</h3>
        <p>
            Turmeric is used in many spice blends, such as basic curry powder, where it is always on the ingredient
            list. When the blend has a yellow color, it is most often due to turmeric. It is an ingredient in
            Worcestershire sauce and is often used as the coloring agent in yellow mustard, relishes, and pickles.
        </p>
    </div>
    <div class="col-md-5">
        <img src="https://cdn.shopify.com/s/files/1/0148/1945/9126/products/J5l7OfyM7Np4epq0g45mlVUbCCqMCoOONv7-NekWfOIzwSdRHNUrjGElRjKoYuTKGizlhohX534_w615-h615_615x615.jpg"
            alt="">
    </div>

    <div class="row featurette">
        <div class="col-md-5">
            <img src="https://cdn.shopify.com/s/files/1/0148/1945/9126/files/Cumin_in_jar.jpg" alt="">
        </div>
        <div class="col-md-7">
            <h3>Cooking with Cumin</h3>
            <p>
                Cumin is an essential spice for Indian curries and chutneys. The spice also works well in a variety of
                rice dishes, stews, soups, breads, pickles, barbecue sauces, and chili con carne recipes. It is best to
                be conservative when cooking with cumin as its flavor can easily overtake a dish. You can always add
                more later.

                Cumin is favored by vegetarian and vegan cooks as it adds a savory, meaty quality to dishes.

                Whole cumin seeds taste best when they are toasted first, bringing out the flavor of its essential oils.
                Toasted seeds can be added right to salads or on top of steamed rice. Frying cumin seeds in oil is the
                first step in many curry recipes, soon followed by diced onion and tomato.
            </p>
        </div>

    </div>

    <div class="row featurette">
        <div class="col-md-7">
            <h3>Cinnamon</h3>
            <p>
                Cinnamon is a spice that comes from the inner bark of the tropical Cinnamomum tree (colloquially known
                as the cinnamon tree), sold as rolled quills (cinnamon sticks) or ground into a fine powder. The
                cinnamon bark, or phloem layer, can be harvested from the trunk or outer branches, with cinnamon from
                the trunk being more expensive. Cinnamon contains several aromatic compounds, the most recognizable of
                which is cinnamaldehyde, which gives cinnamon its spicy bite.
            </p>
        </div>
        <div class="col-md-5">
            <img src="https://cdn.shopify.com/s/files/1/0148/1945/9126/products/NhOurtoZKVSCY70gSJKPl4ZH_tJAnxDKj2BCVyG-QtkyS3s6GQU9xwNqYkZf4CbvStFzZit4NLo_w615-h615_615x615.jpg"
                alt="">
        </div>

        <div class="row featurette">
            <div class="col-md-5">
                <img src="https://www.thespruceeats.com/thmb/NihVrsePpqrZy_DzcIGlmslF2Qo=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/close-up-of-cardamom-in-container-on-table-692783765-de109316d6c44a37b5d6dace1b93c17c.jpg" alt="">
            </div>
            <div class="col-md-7">
                <h3>Cooking with Cardamom</h3>
                <p>
                    You can use powdered cardamom added directly to recipes that call for ground cardamom, but you will
                    get more flavor by starting with the pods. Toast green cardamom pods in a dry skillet for a few
                    minutes. Let them cool for a minute and then remove the seeds from the pods. Save the pods to use
                    for adding to coffee or tea for flavor. Grind the seeds in a ​mortar and pestle for best results, or
                    you can use a motorized spice grinder (like a coffee grinder).

                    If you are using green cardamom for hot drinks such as coffee, simply grind three to four cardamom
                    seeds along with your coffee beans and pour your hot water over as usual. Some traditions grind the
                    whole pod, but it's fine to use the seeds only.
                </p>
            </div>

        </div>

        {% endblock %}