{% extends "base.html" %}
{% block content %}


<h2>{{  page_title  }}</h2>
<br>

<h4>Culinary uses of spices</h4>

<p>

    Spices can be aromatic or pungent in flavors and peppery or slightly bitter in taste. In order to keep their
    fragrance and flavor intact, they are generally added in the cooking recipes at the final moment of cooking since
    prolonged cooking results in evaporation of much of their essential oils.

    Spices are being used in the preparation of season soups, barbecue sauces, pickling and as a main ingredient in a
    variety of curry powders.

    Spices along with some seasonal herbs are being used to enhance the flavor and taste of vegetable, chicken, fish and
    meat dishes.

    Some healthy spices like cloves, cardamom, coriander…etc., are also been used in flavor drinks.
</p>

{% for member in company %}

<div class="row featurette">

    {% if loop.index % 2 != 0 %}

    <div class="col-md-7">
        <h3><a href="/about/{{ member.url }}">{{ loop.index }}. {{ member.name }}</a></h3>
        <p>{{ member.description }}</p>
    </div>
    <div class="col-md-5">
        <img src="{{ member.image_source }}" alt="" class="featurette-image image-responsive">
    </div>

    {% else %}

    <div class="col-md-5">
        <img src="{{ member.image_source }}" alt="" class="featurette-image image-responsive">
    </div>
    <div class="col-md-7">
        <h3><a href="/about/{{ member.url }}">{{ loop.index }}. {{ member.name }}</a></h3>
        <p>{{ member.description }}</p>
    </div>

    {% endif %}

</div>

{% if loop.index != loop.length %}

<hr class="featurette-divider">

{% endif %}

{% endfor %}

{% endblock %}